<footer class="footer">
    <div class="footer-left">
        <img src="/public/images/logo.png" class="footer-logo" alt="Logo">
        <p>Subhadip Dey<br>
        123, My Street, My City, My Country<br>
        Email: myemail@example.com | Phone: +91-XXXXXXXXXX
        </p>
    </div>
    <div class="footer-right">
        <a href="https://github.com/subhadipdeysurva0" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://linkedin.com/in/yourprofile" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/yourprofile" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://facebook.com/yourprofile" target="_blank"><i class="fab fa-facebook"></i></a>
        <!-- Add more as needed -->
    </div>
</footer>