<nav class="navbar">
    <div class="nav-left">
        <img src="/public/images/logo.png" alt="Logo" class="logo">
    </div>
    <div class="nav-center">
        <a href="#hero">Home</a>
        <a href="#about">About</a>
        <a href="#techstack">TechStack</a>
        <a href="#resume">Resume</a>
        <a href="#projects">Project</a>
    </div>
    <div class="nav-right">
        <button id="theme-toggle" aria-label="Toggle light/dark mode">
            <i class="fa fa-moon" id="moon-icon"></i>
            <i class="fa fa-sun" id="sun-icon" style="display:none"></i>
        </button>
    </div>
</nav>